<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authors</title>
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="/css/lib/semantic242.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <!-- Libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.js"></script>
    <script src="https://kit.fontawesome.com/be7822736c.js"></script>
    <script src="/js/lib/semantic242.js"></script>
    <script src="/js/lib/tablesort.js"></script>
    <!-- Frontend rendering -->
    <script type="text/javascript" src="/js/utils/url.js"></script>
    <script type="text/javascript" src="/js/author/rendering/static.js"></script>
    <script type="text/javascript" src="/js/author/beweb-list.js"></script>
</head>
<body>

    <div class="ui top fixed menu navbar">

    </div>

    <div class="ui container">
        <div id="loader">
            <div class="ui active centered inline massive loader"></div>
        </div>
        <div class="ui container centered">
            <h1>Elenco Entità AFCEI con aggiornamenti</h1>
            <br><br>
            <table id="main-table" class="ui  collapsing celled striped table big-table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Identificativo<br>AFCEI</th>
                        <th>Visualizzazione <br>su BEWEB</th>
                        <!-- <th class="">Wikidata</th> -->
                        <th class="sorted ascending">Data Arricchimento<br>OLAF</th>
                        <th>Data Modifica<br>AFCEI</th>
                        <th>Campi<br>Modificati <span data-tooltip="Rappresenta il numero di campi modificati rispetto all’ultimo arricchimento su OLAF" data-inverted=""><i class="question circle icon"></i></span></th>
                        <th>Data Modifica <span data-tooltip="Rappresenta la data delle modifiche successive all’ultimo arricchimento su OLAF" data-inverted=""><i class="question circle icon"></i></span></th>
                        <th>Modifiche <span data-tooltip="Visualizza il dettaglio delle modifiche successive all’ultimo arricchimento su OLAF" data-inverted=""><i class="question circle icon"></i></span></th>
                    </tr>
                    <!-- max-width: 135px;
                    word-break: break-word; -->
                </thead>
                <tbody>
                </tbody>
            </table> 
        </div>
    </div>

    <div class="footer-container footer-section-2">
        <div class="block-1">
            Made with love and linked data by <img id="footer-synapta-logo" src="/img/synapta-logo-white.svg"/>
        </div>
    </div>

</body>
</html>