<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset password - OLAF</title>
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="/css/lib/semantic242.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <!-- Libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.js"></script>
    <script src="https://kit.fontawesome.com/be7822736c.js"></script>
    <script src="/js/lib/semantic242.js"></script>
    <!-- Frontend rendering -->
    <script type="text/javascript" src="/js/utils/url.js"></script>
    <script type="text/javascript" src="/js/author/static.js"></script>
    <script type="text/javascript" src="/js/author/rendering/static.js"></script>
    <script type="text/javascript" src="/js/login/rendering/static.js"></script>
    <script type="text/javascript" src="/js/login/static.js"></script>
    <script type="text/javascript" src="/js/password-reset/static.js"></script>
</head>
<body>

<div class="ui top fixed menu navbar"></div>

<div class="ui container max-width">
    <div class="password-container">

        <h2 class="ui dividing header">Accedi a OLAF</h2>
        <form id="reset-form-type" class="ui form" action="/api/v1/arco/reset-password/" method="post">

            <div class="two fields">
                <div class="field">
                    <label>Password</label>
                    <input type="password" name="password" placeholder="Inserisci password">
                </div>
                <div class="field">
                    <label>Conferma password</label>
                    <input type="password" name="retype-password" placeholder="Conferma password">
                </div>
            </div>

            <button class="ui button" type="submit">Submit</button>
            <div class="ui error message"></div>

        </form>

    </div>
</div>

</body>
</html>