<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Verification</title>
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="/css/lib/semantic242.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <!-- Libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.js"></script>
    <script src="https://kit.fontawesome.com/be7822736c.js"></script>
    <script src="/js/lib/semantic242.js"></script>
    <!-- Frontend rendering -->
    <script type="text/javascript" src="/js/utils/url.js"></script>
    <script type="text/javascript" src="/js/author/static.js"></script>
    <script type="text/javascript" src="/js/author/rendering/static.js"></script>
    <script type="text/javascript" src="/js/login/rendering/static.js"></script>
    <script type="text/javascript" src="/js/login/static.js"></script>
</head>
<body>

    <div class="ui top fixed menu navbar"></div>

    <div class="ui container">
        <div class="ui positive message">
            <div class="header">
                Ti sei registrato con successo
            </div>
            <p>Controlla la tua mail e clicca sul link che ti abbiamo inviato per verificare il tuo account.</p>
        </div>
    </div>

</body>
</html>